.app__photos{
    width: 100%;
    height: 100%;
    background-color: var(--color-crimson);
}
.app__photos-header{
    width: 100%;
    text-align: center;
}
.app__photos h1{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px var(--color-prussian-blue);
}
.app__photos-header img{
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .app__photos h1{
        top: 40%
    }
    .app__photos-header img{
        height: 200px;
    }
    .app__photos h1{
        top: 20%;
        left: 50%;

        font-size: 40px;
      }
}