.app__navbar{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-night-blue);

    padding: 1rem 2rem;
}

.app__navbar-logo p {
    width: 400px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: var(--color-golden);
    font-size: 30px;
    font-family: var(--font-bold);
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 3rem;
    cursor: pointer;
    color: var(--color-white);
}

.app__navbar-links li:hover {
    color: var(--color-golden);
    border-bottom: 1px solid var(--color-golden);
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-night-blue);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen-links{
    list-style: none;
}

.app__navbar-smallscreen-links li {
    margin: 3rem 0;
    cursor: pointer;
    color: var(--color-white);
    font-size:  2rem;
    text-align: center;
}

.app__navbar-smallscreen_overlay li:hover{
    color: var(--color-golden);
}

.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 1150px){
    .app__navbar-links li{
        display: none;
    }
    .app__navbar-logo p {
        font-size: 25px;
    }

    .app__navbar-smallscreen{
        display: flex;
    }
}
@media screen and (max-width: 650px){
    .app__navbar {
        padding: 1rem;
    }
    .app__navbar-logo p{
        width: 250px;
    }
}