/* ######### CSS for navigation bar ######### */


/* General setting for navbar */
.app__navbar{
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-crimson);
    padding: 1rem 2rem;
    z-index: 999;
}

/* CSS for the logo with a cercle in backgroud */

.app__navbar-logo p {
    width: 400px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    text-align: center;
    background: var(--color-prussian-blue);
    font-size: 30px;
    font-family: var(--font-bold);
}

/* CSS for ul, the link's list for navigation */
.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    list-style: none;
}

/* CSS for each elem in the list */
.app__navbar-links li {
    position: relative;
    width: 100%;
    margin: 0 4rem;
    cursor: pointer;
    font-size: 20px;
    transition: color 1s;
    overflow: hidden;
    background: linear-gradient(to right, var(--color-prussian-blue), var(--color-golden) 50%, var(--color-black) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.app__navbar-smallscreen img{
    height: 30px;
    width: 30px;
}
/* ### SECTION FOR SMALLSCREEN ### */

/* Hind the screen */
.app__navbar-smallscreen {
    display: none;
}

/* CSS for the creation of the smallscreen overlay
Add animation to smooth transition */
.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-prussian-blue);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 1;
}

/* remove point list */
.app__navbar-smallscreen-links{
    list-style: none;
}

/* CSS for each elem in list for smallscreen */
.app__navbar-smallscreen-links li {
    margin: 3rem 0;
    cursor: pointer;
    position: relative;
    color: var(--color-white);
    font-size:  2rem;
    text-align: center;
    transition: color 1s;
    overflow: hidden;
    background: linear-gradient(to right, var(--color-white), var(--color-golden) 50%, var(--color-white) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

/* CSS for close button smallscreen navpage  */
.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: var(--color-black);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

/* ### SMALLSCREEN ADJUSTEMENT FOR SCREEN WIDTH */
@media screen and (max-width: 1000px){
    .app__navbar-lang{
        display: none;
    }
    .app__navbar-links li{
        display: none;
    }
    .app__navbar-logo p {
        font-size: 25px;
    }

    .app__navbar-smallscreen{
        display: flex;
    }
}
@media screen and (max-width: 650px){
    .app__navbar {
        padding: 1rem;
    }
    .app__navbar-logo p{
        width: 250px;
        font-size: 20px;
    }
}
 
/* ### ANIMATION SECTION ### */
/* navbar links animation, color box when mouse pass over */
.app__navbar-links li:hover, .app__navbar-smallscreen-links li:hover{
    background-position: 0 100%;
    color: var(--color-gold);
}