.app__aboutus{
    position: relative;
}
.app__aboutus-overlay{
    position: absolute;
    inset: 0;
}

.app__aboutus-content {
    width: 100%;
}

.app__aboutus-content_about{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    margin: 1rem;
}

.custom__button{
    margin: 1rem;
}

.app__aboutus-content_history{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin: 1rem;
}

.app__aboutus-content_img{
    position: relative;
    transform: translateY(300px);
    opacity: 0;
    transition: 2s all ease;
}
.app__aboutus-content_img.active{
    transform: translateY(0);
    opacity: 1;
  }

.app__aboutus-content_img img{
    height: 500px;
    margin: 2rem;
}

@media screen and (min-width: 2000px) {

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 1000px) {
    .app__aboutus-content {
        flex-direction: column;
    }


    .app__aboutus-content_img {
        
        height: 200px;
    }
    .app__aboutus-content_img.active{
        transform: translateY(0);
        transform: rotate(90deg);
        opacity: 1;
      }
}

@media screen and (max-width: 600px) {
    .app__aboutus-content_img img{
        max-width: 35%;
        height: auto;
    }
}