.app__video{
    height: 100%;
    position: relative;
    background-color: var(--color-crimson);
}

.app__video video{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

@media screen and (max-width: 1000px){
    .app__video video{
        height: 300px;
    }
}