.app__menu{
    background: var(--color-night-blue);
}

.app__menu-header_img{
    height: 100%;
    position: relative;
    background-color: var(--color-night-blue);
}
.app__menu-header_img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.app__menu-header_title{
    text-align: center;
    padding: 4rem 0 0 0;
}
.app__menu-header_title p {
    padding: 1rem;
}

.app__menu-menu img{
    width: 100%;
    padding: 1rem 15rem 15rem 15rem;
}

@media screen and (max-width: 1000px){
    .app__menu-menu img{
        width: 100%;
        padding: 1rem 0 0 0;
    }
    .app__menu-header_img img {
        width: 100%;
        height: 200px;
    }
}
